.stone-link {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.link {
    margin-bottom: 20px;
}