h3, h4 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.trunk-instruction {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.trunk-list {
    font-size: 1.5rem;
}

.home-list {
    margin-bottom: 20px;
}