main {
    margin-top: 200px;
    margin-bottom: 5px;
    background-image: url(../assets/results/result-tombstone.png);
    background-repeat: no-repeat;
    height: 600px;
    margin-left: 80px;
}
section {
    color: black;
    padding-bottom: 120px;
    padding-right: 170px;
    padding-left: 0;
    margin-left: 0;

}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}