#map {
    position: relative;
    background-image: url("../assets/map.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: calc(90vw * 500 / 500);
    margin: auto;
}
ul {
    position: relative;
}

li, .landmark {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px rgba(54, 54, 54, 0.632);
    font-size: .9em;
}

li, .landmark.completed:after {
    content: ' ✔';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.completed-loctions {
    margin-left: 30px;
}