
header {
margin-bottom: 20px;
}
main {
    width: 1000;
}

.home-instruction , .home-copy {
    margin: 15px;
}

.home-list {
    margin: 25px;
}
.home-title {
    font-size: 2.5rem;
}

.home-copy {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.home-instruction {
    font-size: 1.5rem;
}