* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'VT323', monospace;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    max-width: 1000px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

content {
    width: 80%;
}

button {
    margin: 20px;
}